.screen{
    background-color: aquamarine;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    font-size: 50px;
    font-weight: 700;
}
.screen5{
    font-size: 60px;
    color: red;
    background-color: #3cae13;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    font-weight: 700;
    border: red 2px solid;
}